html {
    font-size: 12px
}

* {
    box-sizing: border-box;
    text-rendering: geometricPrecision
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 5mm 5mm;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    word-wrap: break-word;
    background-color: #ffffff;
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.75em
}

fieldset {
    border: none;
    padding: 0;
    margin: 0
}

a {
    cursor: pointer;
    color: #ff8100;
    border-bottom: 1px solid #ff8100;
    text-decoration: none;
}

a:hover {
    background-color: #ff8100;
    color: black
}

.grid {
    display: flow;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.grid.\-top {
    -ms-flex-align: start;
    align-items: flex-start
}

.grid.\-middle {
    -ms-flex-align: center;
    align-items: center
}

.grid.\-bottom {
    -ms-flex-align: end;
    align-items: flex-end
}

.grid.\-stretch {
    -ms-flex-align: stretch;
    align-items: stretch
}

.grid.\-baseline {
    -ms-flex-align: baseline;
    align-items: baseline
}

.grid.\-left {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.grid.\-center {
    -ms-flex-pack: center;
    justify-content: center
}

.grid.\-right {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.grid.\-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.grid.\-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.cell {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    margin: 0 0 2px 2px;
}

@media screen and (min-width: 768px) {
    .cell.\-1of12 {
        -ms-flex:0 0 8.33333%;
        flex: 0 0 8.33333%
    }

    .cell.\-2of12 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%
    }

    .cell.\-3of12 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }

    .cell.\-4of12 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%
    }

    .cell.\-5of12 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%
    }

    .cell.\-6of12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .cell.\-7of12 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%
    }

    .cell.\-8of12 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%
    }

    .cell.\-9of12 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%
    }

    .cell.\-10of12 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%
    }

    .cell.\-11of12 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%
    }
}

@media screen and (max-width: 768px) {
    .grid {
        -ms-flex-direction:column;
        flex-direction: column
    }

    .cell {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 20px;
    }
}

.hack,.hack blockquote,.hack code,.hack em,.hack h1,.hack h2,.hack h3,.hack h4,.hack h5,.hack h6,.hack strong {
    font-size: 1rem;
    font-style: normal;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif
}

.hack blockquote,.hack code,.hack em,.hack strong {
    line-height: 20px
}

.hack blockquote,.hack code,.hack footer,.hack h1,.hack h2,.hack h3,.hack h4,.hack h5,.hack h6,.hack header,.hack li,.hack ol,.hack p,.hack section,.hack ul {
    float: none;
    margin: 0;
    padding: 0
}

.hack blockquote,.hack h1,.hack ol,.hack p,.hack ul {
    margin-top: 10px;
    margin-bottom: 10px
}

.hack h1 {
    position: relative;
    display: inline-block;
    display: table-cell;
    padding: 20px 0 30px;
    margin: 0;
    overflow: hidden
}

.hack h1:after {
    content: "====================================================================================================";
    position: absolute;
    bottom: 10px;
    left: 0
}

.hack h1+* {
    margin-top: 0
}

.hack h2,.hack h3,.hack h4,.hack h5,.hack h6 {
    position: relative;
    margin-bottom: 1.75rem;
}

.hack h2:before,.hack h3:before,.hack h4:before,.hack h5:before,.hack h6:before {
    display: inline
}

.hack h2:before {
    content: "## "
}

.hack h3:before {
    content: "### "
}

.hack h4:before {
    content: "#### "
}

.hack h5:before {
    content: "##### "
}

.hack h6:before {
    content: "###### "
}

.hack li {
    position: relative;
    display: block;
    padding-left: 20px
}

.hack li:after {
    position: absolute;
    top: 0;
    left: 0
}

.hack ul>li:after {
    content: "-"
}

.hack ol {
    counter-reset: a
}

.hack ol>li:after {
    content: counter(a) ".";
    counter-increment: a
}

.hack blockquote {
    position: relative;
    padding-left: 17px;
    padding-left: 2ch;
    overflow: hidden
}

.hack blockquote:after {
    content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px
}

.hack em:after,.hack em:before {
    content: "*";
    display: inline
}

.hack pre code:after,.hack pre code:before {
    content: ""
}

.hack code {
    font-weight: 700
}

.hack code:after,.hack code:before {
    content: "`";
    display: inline
}

.hack hr {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    margin: 20px 0
}

.hack hr:after {
    content: "----------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    width: 100%;
    word-wrap: break-word
}

@-moz-document url-prefix() {
    .hack h1 {
        display: block
    }
}

.hack-ones ol>li:after {
    content: "1."
}

p {
    margin: 0 0 1.75rem
}

.container {
    max-width: 95rem
}

.container,.container-fluid {
    margin: 0 auto;
    padding: 0 1rem
}

.inner {
    padding: 1rem
}

.inner2x {
    padding: 2rem
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}
