{{ define "title" }}
<title>Francis Begyn</title>
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fbegyn" />
<meta name="twitter:title" content="Francis Begyn" />

<!-- Description -->
<meta name="author" content="Francis Begyn">
{{ end }}

{{ define "content" }}
<div class="grid">
  <section class="cell -6of12 -top">
    <h1 id="name">Francis Begyn</h1>
    <img src="../static/img/profile.jpg" alt="Profile picture">
    <p> ICT engineer with a passion for designing reliable and robust systems that
    connect things together. Has the tendency to keep digging until the root cause
    of an issue is found and solved under the motto 'first time right'.</p>
  </section>
  <section class="cell -6of12">
    <h1 id="contact">Information:</h1>
    <ul>
      <li>date of birth: 23 December 1995</li>
      <li>email: <a href="mailto:francis.begyn@gmail.com">francis.begyn@gmail.com</a> </li>
      <li>website: <a href="https://francis.begyn.be">https://francis.begyn.be</a></li>
    </ul>
  </section>
</div>
<div class="grid">
  <section class="cell -6of12">
    <h2 id="experience">Experience:</h2>
    <ul>
      <li>professional:
        <ul>
          <li>
            <strong>DevOps engineer (2019-current)<br>
              <a href="https://robovision.be/">Robovision</a>
            </strong>
            <p>Design CI/CD systems and offer internal support for an ML platform running on
              Kubernetes. Maintain GPU Kubernetes clusters and critical infrastructure.</p>
          </li>
        </ul>
      </li>
      <li>student:
        <ul>
          <li>
            <strong>System engineer (2019)<br>
              <a href="https://www.axians.be/">Axians</a>
            </strong>
            <p>Internship for designing and implementing intrusion detection system based on aggregated logging. Tested and deployed EFK and ELK stacks in a high traffic environment.</p>
          </li>
          <li>
            <strong>Assistant theatre technician (2013 - 2017)<br>
              <a href="https://www.gcdekluize.be/">GC De Kluize</a>
            </strong>
            <p>Assist with load in and load out of theatre shows and performances. Board operation with an emphasis on lighting design.</p>
          </li>
        </ul>
      </li>
      <li> volunteering:
        <ul>
          <li>
            <strong>Team Lead site & safety (2018-2019)<br>
              <a href="https://studentkickoff.be">Student Kick-Off</a>
            </strong>
            <p>In charge of the team that is responsible for the build up and break down of the festival terrain. We also provide operational security during the festival and coordinate with city and emergency services to ensure the visitors have a pleasant and safe experience.</p>
            <ul class="sub -top">
              <li>electricity coordinator - 2017</li>
              <li>crew lead site & safety - 2016</li>
            </ul>
          </li>
          <li>
            <strong>crew member - network (2016 - current)<br>
              <a href="https://fom.be">Frag-o-matic</a>
            </strong>
            <p>Set up and maintain the network of Belgium's largest LAN party.
            Configuration of switchs and routers. Development of software to improve
            the observability and management of network components.</p>
          </li>
          <li>
            <strong>System administrator (2016 - 2018)<br>
              <a href="https://schnitzel.team">Team Schnitzel</a>
            </strong>
            <p>Manage and deploy services in a virtualized environment for personal use cases.</p>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="cell -6of12">
    <h2 id="skills">Skills:</h2>
    <ul>
      <li><strong>Programming:</strong><br>Go, Python, C and other languages</li>
      <li><strong>Frameworks:</strong><br>Tensorflow, Kubernetes</li>
      <li><strong>Software:</strong><br>Unix, Git, Docker, Prometheus, Grafana, Ansible, Nginx</li>
      <li><strong>Languages:</strong>
        <ul>
          <li>Dutch - native</li>
          <li>English - professional</li>
          <li>French -  intermediate (listening)/novice (written)</li>
          <li>German - novice</li>
        </ul>
      </li>
    </ul>
    <h2 id="education">Education:</h2>
    <ul>
      <li>
        <strong>Engineering technology: electronics/ICT</strong> at Ghent University
        <ul>
          <li><strong>Msc</strong> 2017-2020<br>
          master dissertation: interference detection in sub-GHz networks with machine
          learning</li>
          <li><strong>Bsc</strong> 2013-2017<br>
          bachelor paper: online with LoRaWAN: development of CO2 sensor with LoRaWAN
          technology</li>
        </ul>
      </li>
    </ul>
    <h2 id="hobbies">Free time:</h2>
    <ul>
      <li>Developing <strong>open source software</strong></li>
      <li><strong>Discovering</strong> the world and new technologies</li>
      <li><strong>Connecting</strong> people with sensors and software</li>
      <li><strong>Creating</strong> software and experiences</li>
      <li><strong>Playing</strong> games and music</li>
      <li><strong>Getting lost</strong> in books</li>
    </ul>
  </section>
</div>
<div class="grid">
  <section class="cell">
    <a href="/francis_begyn_cv_eng.pdf">download resume (ENG)</a>
  </section>
  <section class="cell">
    <a href="/francis_begyn_cv_nl.pdf">download resume (NL)</a>
  </section>
</div>
{{ end }}
