{{ define "title" }}
<title>Francis Begyn</title>
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fbegyn" />
<meta name="twitter:title" content="Francis Begyn" />

<!-- Description -->
<meta name="author" content="Francis Begyn">
{{ end }}

{{ define "content" }}
<div class="grid">
    <div class="cell -3of12 content">
        <img src="/static/img/profile.jpg" alt="Profile picture">
    </div>
    <div class="cell -9of12 content">
        <h1>Francis Begyn</h1>
        <h4>DevOps and SRE enthusiast</h4>
        <h5>Skills</h5>
        <ul>
            <li>Go, C, Python (3.x) and other languages</li>
            <li>Docker, Kubernetes, Ansible</li>
            <li>Prometheus, Alertmanager, InfluxDB</li>
        </ul>

        <h5>Projects</h5>
        <ul>
            <li><a href="https://github.com/ZeusWPI/doorkeeper">Doorkeeper</a> - An Arduino that can
              keep guard on the door</li>
            <li><a href="https://github.com/fbegyn/tc_exporter">tc_exporter</a> - Prometheus exporter
              for tc classes, qdiscs, ...<li>
            <li><a href="https://github.com/fbegyn/Mimir">Mimir</a> - Project that is capable of
              driving RGB LEDs to reflect the network status</li>
        </ul>

        <h5>Socials</h5>
        <ul>
            <li><a href="https://github.com/fbegyn" rel="me">GitHub</a></li>
            <li><a href="https://twitter.com/fbegyn" rel="me">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/fbegyn" rel="me">LinkdIn</a></li>
        </ul>
    </div>
</div>
{{ end }}
